
.videoText .about-img {
  padding: 25px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.about-text h3 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #5f687b;
  font-family: "Raleway", sans-serif;
}

.aboutText-list li{
    padding: 10px 0 0 0;
    display: flex
}

 .aboutText-list li i{
        color: #10bc69;
    margin-right: 0.5rem;
    line-height: 1.2;
    font-size: 1.25rem;

}

.aboutCount .row{
    text-align: center;
}

.aboutCount .row span{

    font-size: 48px;
    display: block;
    color: #10bc69;
    font-weight: 700;
}

.aboutCount .row p{
      color: #b5b8c1;
}